[user]
    name = Rocky Assad
    useConfigOnly = true
[include]
  path = /Users/rocky.assad/.gitconfig.premise
[includeIf "gitdir:/Users/rocky.assad/code/rocky.assad/**"]
  path = /Users/rocky.assad/.gitconfig.personal
[includeIf "gitdir:/Users/rocky.assad/code/workshop/**"]
  path = /Users/rocky.assad/.gitconfig.premise
[includeIf "gitdir:/Users/rocky.assad/code/premise-development/**"]
  path = /Users/rocky.assad/.gitconfig.premise
[core]
    autocrlf = input
    whitespace = trailing-space,space-before-tab
[pull]
    rebase = false
[init]
	defaultBranch = master
[commit]
    gpgsign = true
[credentials]
	helper = osxkeychain
[alias]
	genmsg = "!~/bin/genmsg"